In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score\
    ,confusion_matrix,roc_curve,roc_auc_score
from sklearn.model_selection import train_test_split

In [2]:
SEED = 42
np.random.seed(SEED)

In [7]:
df = pd.read_csv('scores.csv')
df.head()

                       MemberName  ...  CapstoneScore
0           Theekshana Rathnayake  ...           45.3
1  Mayura Sandakalum Sellapperuma  ...           78.8
2                 Amila Narangoda  ...           65.4
3                    Nisal Gamage  ...          100.0
4                Tharusha Vihanga  ...           40.1

[5 rows x 10 columns]

In [8]:
df = df[df['CourseName'] == 'Foundations of ML'].drop(columns=['CourseName' , 'MemberName'])

threshold = df['CapstoneScore'].median()
df['CapstoneScore'] = (df['CapstoneScore'] >= threshold).map({True: 'Pass', False: 'Fail'})

X = df.drop(columns=['CapstoneScore'])
y = df['CapstoneScore']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2, 
    random_state=SEED,
    stratify=y
    )

print(f"Data prepared: {df.shape}")

Data prepared: (72, 8)